$primary-green: #00b482;
$secondary-green: #00966c;

$primary-purple: #70257d;
$secondary-purple: #a47eaa;

$dark-grey: #2b2b2b;
$medium-grey: #7b7b7b;
$pale-grey: #a4a4a4;
$light-grey: #b4b4b4;

$body-bg: #ffffff;
