/* 
Inter:
https://fonts.google.com/selection?query=inter
*/
@font-face {
  font-family: "Inter-Regular";
  src: local("Inter-Regular"),
    url("/assets/fonts/Inter/Inter-Regular.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Medium";
  src: local("Inter-Medium"),
    url("/assets/fonts/Inter/Inter-Medium.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter-SemiBold";
  src: local("Inter-SemiBold"),
    url("/assets/fonts/Inter/Inter-SemiBold.ttf") format("truetype");
  font-display: swap;
}

@font-face {
  font-family: "Inter-Bold";
  src: local("Inter-Bold"),
    url("/assets/fonts/Inter/Inter-Bold.ttf") format("truetype");
  font-display: swap;
}
